.task-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.task-input {
    width: 350px;
    font-size: 18px;
    background-color: #2a2a40;
    color: #eee;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #eee ;
    outline: none;

}

.task-button {
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 0 4px 4px 0;
    border: 2px solid #eee ;
    cursor: pointer;
    outline: none;
    background: #f87b06;
    color: #eee;

}
.task-button:active {
    transform: scale(.9);
}