* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, 
body {
  color:#eee;
  background-color: #2a2a40;
  margin: 30px;
}

h1 {
  color: #2a2a40;
  font-size: 25px;
  text-align: center;
  margin: 15px 0;
}

h1 span {
  color: #f87b06;
}

.app-task {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  

}

.task-list {
  width: 600px;
  min-height: 500px;
  background-color: #ddbdf3;
  border-radius: 10px;
  padding: 30px;
  
 
}

